{name, "parse_trans"}.
{description, "Parse transform utilities for Erlang"}.
{homepage, "https://github.com/esl/parse_trans"}.
{url, {git, "https://github.com/esl/parse_trans.git", {branch, "master"}}}.
{authors, ["Ulf Wiger <ulf.wiger@erlang-solutions.com>"]}.
{license, "Erlang Public License 1.0"}.
{requires, [{"agner", "atleast:0.4.8"}, "edown"]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
